# Dependencies & Build Output
node_modules/
dist/
out/
build/
.vite/
.next/cache/
*.nft.json
*server-reference-manifest*

# Python leftovers
__pycache__/
*.pyc
.env
.venv/
env/
venv/

# Archives & OS
*.zip
.DS_Store
Thumbs.db
*.log
server.log

