# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION
<IfModule mod_passenger.c>
    PassengerAppType node
    PassengerStartupFile app.js
</IfModule>

# Allow public web access to static assets
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow direct access to _next static CSS & JS bundles
    RewriteCond %{REQUEST_URI} ^/_next/static/
    RewriteRule ^_next/static/(.*)$ _next/static/$1 [L]
</IfModule>
